extends layout
block append content
  h1 MusicPeer
  p It's a super-duper application for listening music in a big open space.
  if user 
    form(method='POST', action='/room')
      input(type='submit', value='Create room')
    p Or find room!!
  else
    a(href='/auth/vk') login
